<!--Encabezado de la vista-->
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <h1> Informacion del usuario</h1>
        </div>
    </div>
</nav>

<!-- ***************** FORMULARIO *******************************-->
<form>
    <!--Botones vista inicial -->
    <div class="col-md-4 offset-md-4">
        <div class="row d-flex h-100">
            <div class="btn-group">
                <button class="btn btn-primary btn-lg" (click)="GuardarNuevoU()">Guardar</button> &nbsp;
                <button type="button" class="btn btn-primary btn-lg">Editar</button> &nbsp;
                <button type="button" class="btn btn-primary btn-lg">Eliminar</button>&nbsp;
            </div>
        </div>
    </div>

    <!-- **************** COLUMNA IZQUIERDA ****************-->
    <div class="col-md-4 offset-md-4">

        <!--Cajon Id-->
        <div class="form-group">

            <input id="idusuario" type="text" name="idusuario" class="form-control" [(ngModel)]="crear.idusuario" placeholder="Id Usuario">
        </div>

        <!--Cajon Nombre-->
        <div class="form-group">
            <!--<label for="transactionNombre">&nbsp;  Nombre : &nbsp; </label>-->
            <input id="nombre" type="text" name="nombre" class="form-control" [(ngModel)]="crear.nombre" placeholder="Nombre">
        </div>

        <!--Cajon Rol-->
        <div>
            <label for="exampleDataList" class="form-label">Rol: </label>
            <input class="form-control" type="text" list="datalistOptions" id="rol" name="rol" [(ngModel)]="crear.rol" placeholder="Seleccionar...">
            <datalist id="datalistOptions">
            <option value="Administrador"></option>
            <option value="Auditor"></option>
            <option value="Auxiliar"></option>
            
        </datalist>
        </div>

        <!--Cajon Activo--
        <div>
            <label for="lista" class="form-label">Activo: </label>
            <input class="form-control" type="text" list="listado" id="activo" name="activo" [(ngModel)]="crear.activo" placeholder="Seleccionar...">
            <datalist id="listado">
                <option value="Seleccionar"></option>
                <option value="Si"></option>
                <option value="No"></option>
            </datalist>
        </div>
        -->
        <div class="form-group">
            <!--<label for="transactionNombre">&nbsp;  Nombre : &nbsp; </label>-->
            <input id="activo" type="text" name="activo" class="form-control" [(ngModel)]="crear.activo" placeholder="Activo">
        </div>


    </div>

</form>
<!-- ***************** FORMULARIO *******************************-->

<!--******************** COLUMNA DERECHA *******************-->
<div class="col">
    <!--Imagen -->
    <div class="container">

        <div class="col-sm-6 image-right justify-content-center align-self-center">
            <div aling="right"><img src="assets/img/actualizar.svg" class="rounded float-right" width="90%"></div>
        </div>

    </div>
</div>