<!--Encabezado vista busqueda usuario-->
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <h1> Busqueda de usuario</h1>
        </div>
    </div>
</nav>

<!--Fondo -->
<div class="background-overlay text-black py-5">
    <div class="container">
        <div class="row d-flex h-100">
            <div class="col-sm-6 text-center justify-content-center align-self-center">

                <!--Botones vista "Informacion del usuario"-->

                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg">Consultar</button> &nbsp;
                    <button type="button" class="btn btn-primary btn-lg">Limpiar</button> &nbsp;
                </div>

            </div>

        </div>

        <!--Menu vista "Busqueda de usuario"-->
        <form action="../../form-result.php" method="post" target="_blank">
            <br>
            <p>
                <label for="transactionNombre">
                    &nbsp; 
                    <h3>Nombre:</h3>
                 
                </label> &nbsp;
                <input id="transactionNombre" placeholder="Nombre">
            </p>
        </form>

    </div>

    <!--Imagen -->
    <div class="container">
        <div class="col-sm-6 image-right justify-content-center align-self-center">
            <img src="assets/img/busqueda.svg" class="rounded float-right" width="65%"></div>
    </div>

</div>