<!--Se compone por el header que es el logo y el menu que sería el cuerpo de la pagina-->
<nav class="navbar navbar-expand-lg navbar-darck bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">INICIO</a>
        <img src="assets/img/logo.png" alt="" width="80" height="80" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

</nav>
<!-----------------------------------------Menú ----------->

<!--Fondo pg. principal e imagen-->
<header class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row d-flex h-100">
                <div class="col-sm-6 text-center justify-content-center align-self-center">
                    <h1>
                        Codesa
                    </h1>
                    <p>Diseño de Sistemas Computacionales y Servicios Relacionados</p>
                    <a href="https://www.codesa.com.co/" class="btn btn-outline-secondary btn-lg text-white">
                    Conoce más...
                    </a>
                </div>
                <div class="col-sm-6">
                    <img src="assets/img/product.svg" class="img-fluid.max" width="auto;" height="auto;">
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sección pie de página para botones-->
<section id="newsletter" class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="/" class="btn-primary btn-lg btn-block" aria-current="page">Busqueda</a>
            </div>
            <div class="col-md-4">
                <a href="/" class="btn-primary btn-lg btn-block" aria-current="page">Creación usuario</a>

            </div>
            <div class="col-md-4">
                <a href="/" class="btn-primary btn-lg btn-block" aria-current="page">Informacion usuario</a>
            </div>
        </div>
    </div>
</section>