<!--Fondo pg. principal e imagen-->
<header class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row d-flex h-100">
                <div class="col-sm-6 text-center justify-content-center align-self-center">
                    <h1>
                        Codesa
                    </h1>
                    <p>Diseño de Sistemas Computacionales y Servicios Relacionados</p>
                    <a href="https://www.codesa.com.co/" class="btn btn-outline-secondary btn-lg text-white">
                    Conoce más...
                    </a>
                </div>
                <div class="col-sm-6">
                    <img src="assets/img/product.svg" class="img-fluid.max" width="auto;" height="auto;">
                </div>
            </div>
        </div>
    </div>
</header>

<!--Sección pie de página para botones-->

<body id="newsletter" class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">



                <button class="btn btn-primary btn-lg btn-block">
                    xxx
                  </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block">
                Creación usuario
              </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block">
            Información del usuario 
          </button>
            </div>
        </div>
    </div>
</body>