<!--Encabezado visda busqueda usuario-->
<nav class="navbar navbar-expand-sm navbar-dark bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <h1> Registro de usuarios</h1>
        </div>
    </div>
</nav>

<!--Botones vista "Informacion del usuario"-->
<div class="btn-group">
    <button routerLink="/informacion-usuario" type="button" class="btn btn-primary btn-lg">Crear</button> &nbsp;
</div>

<!--Creación del scrollable-->
<div style="border : solid 2px #ff000002;
            background : #00000000;
            color : #0e0d0d;
            padding : 4px;
            width : 1900px;
            height : 160px;
            overflow : auto; ">
    <br />
    <!--Muestro tabla con información-->

    <table class="table">
        <!--Nombre de columnas-->
        <thead class="thead-light">
            <tr>
                <th scope="col">Id Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Activo</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <!--Información de filas -->
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Juan</td>
                <td>Si</td>
                <td>Auditor</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Laura</td>
                <td>Si</td>
                <td>Auxiliar</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Aurora</td>
                <td>Si</td>
                <td>Administrador</td>
            </tr>

        </tbody>
    </table>
</div>